@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';
@import "@eslamdevui/ui";

@source "../../../content/**/*";

@theme static {
  --color-primary-500: #105481;

  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
  --container: 100%;
}

:root {
  --ui-primary: var(--ui-color-primary-500);
  --ui-container: var(--container);
  --ui-header-height: --spacing(16);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
