@import "tailwindcss";
@import "@eslamdevui/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --font-serif: "Instrument Serif", serif;
}

:root {
  --ui-container: var(--container-4xl);
  --ui-header-height: --spacing(16);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
